.nav-bar {
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: center;
}

.nav-bar>div {
    background-color: SeaGreen;
    width: 100%;
    text-align: center;
    color: white;
    align-content: center;
    border: solid 2px #185433;
    border-collapse: collapse;
}
.projects-list {
    display: flex
}